<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Welcome Email</title>
</head>
<body>
  <h2>Hello {{order.u_email}} {{lastname}} ! </h2>
  <p>We're glad to have you on board at {{order.u_firstname}}. </p>
</body>
</html>